{
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 110,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
	"tailwindConfig": "./app/tailwind-base.config.js",
	"tailwindFunctions": ["tw"],
	"importOrder": [
		"^node:",
		"<THIRD_PARTY_MODULES>",
		"^@(atcute|mary)/",
		"^~/api/",
		"^~/com/globals/",
		"^~/desktop/globals/",
		"^~/utils/",
		"^~/com/lib/",
		"^~/desktop/lib/",
		"^~/desktop/utils/",
		"^~/com/primitives/",
		"^~/com/components/",
		"^~/desktop/components/",
		"^~/desktop/views/",
		"^~/com/icons/",
		"^~/com/assets/",
		"^~/com/styles/",
		"^~/desktop/styles",
		"^~/com/",
		"^~/desktop/",
		"^~",
		"^\\.{2}(?:/(?:.*)(?<!\\.css))?$",
		"^\\.(?:/(?:.*)(?<!\\.css))?$",
		"^\\."
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": ["tsconfig.json", "jsconfig.json"],
			"options": {
				"parser": "jsonc"
			}
		}
	]
}
