@layer base {
	:root {
		--background: 255 255 255; /* white */
		--background-dark: 212 212 216; /* zinc-300 */

		--accent: 37 99 235; /* blue-600 */
		--accent-dark: 30 64 175; /* blue-700 */
		--hinted: 243 244 246; /* gray-100 */

		--primary: 9 9 11; /* zinc-950 */
		--primary-fg: 244 244 245; /* zinc-100 */

		--secondary: 161 161 170; /* zinc-400 */
		--secondary-fg: 24 24 27; /* zinc-900 */

		--muted: 244 244 245; /* zinc-100 */
		--muted-fg: 82 82 91; /* zinc-600 */

		--input: 161 161 170; /* zinc-500 */
		--divider: 212 212 216; /* zinc-300 */
	}

	.is-dark {
		color-scheme: dark;

		--background: 0 0 0; /* black */
		--background-dark: 39 39 42; /* zinc-800 */

		--accent: 59 130 246; /* blue-500 */
		--accent-dark: 37 99 235; /* blue-600 */
		--hinted: 17 24 39; /* gray-900 */

		--primary: 250 250 250; /* zinc-50 */
		--primary-fg: 9 9 11; /* zinc-950 */

		--secondary: 82 82 91; /* zinc-600 */
		--secondary-fg: 250 250 250; /* zinc-50 */

		--muted: 39 39 42; /* zinc-800 */
		--muted-fg: 161 161 170; /* zinc-400 */

		--input: 82 82 91; /* zinc-600 */
		--divider: 51 51 56 /* zinc-750 */;
	}

	body {
		/* @apply overflow-y-scroll; */
		@apply bg-background text-primary;
	}

	dialog {
		@apply text-left text-base font-normal text-primary;
	}

	body:has(dialog[data-modal][open]) {
		@apply overflow-hidden pr-[--sb-width];
	}

	::selection {
		@apply bg-accent-dark text-white;
	}
}
